@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary-color: rgb(60, 179, 113);
    --text-color: #333;
    --sub-text-color: #82919b;
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --danger-color: #f33a58;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

html {
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


*, *:before, *:after {
    box-sizing: border-box;
}

label,
button {
    cursor: pointer;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}


/* Mobie: width < 740px */
@media only screen and (max-width: 46.1875em) {

    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
        font-size: 16px;
    }

}